<div class="container">
  <div class="card">
    <div class="card-body">
      <h1>Cart Details</h1>
      <table class="table table-hover" *ngIf="cartData.length; else empty_cart">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of cartData">
            <th scope="row">{{ product.id }}</th>
            <td>{{ product.name }}</td>
            <td>{{ product.quantity }}</td>
            <td><button (click)="removeItem(product.id)">-</button></td>
          </tr>
        </tbody>
      </table>
      <ng-template #empty_cart>
        <img class="empty_cart" src="../../../assets/images/shopping-venture-g43ef90f5e_640.jpg" />
        <p>Your cart is empty!!</p>
      </ng-template>
    </div>
  </div>
</div>


